*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --text-color: #232323;
  --grey-color: #555555;
  --title-color: #000;
  --orange-color: #ff9914;
}

a {
  text-decoration: none;
}

body {
  font-family: "Manrope", sans-serif;
}

ul,
ol {
  list-style: none;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1330px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  font-family: "Exo", sans-serif;
}

.dflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.text-orange {
  color: var(--orange-color);
}

.button {
  padding: 10px 25px;
  font-size: 18px;
  background-color: white;
  color: var(--text-color);
  border: 1px solid white;
  border-radius: 80px;
  cursor: pointer;
}
.button-dark {
  background-color: var(--text-color);
  color: white;
  border: 1px solid var(--text-color);
}
.button-orange {
  background-color: var(--orange-color);
  color: white;
  border: 1px solid var(--orange-color);
}

.form-button {
  padding: 10px 25px;
  font-size: 18px;
  background-color: var(--orange-color);
  color: white;
  border: 1px solid var(--orange-color);
  border-radius: 15px;
}

.input {
  background-color: #f5f5f5;
  border: 1px solid #d6d6d6;
  padding: 20px;
  font-size: 16px;
  border-radius: 15px;
}

::-webkit-input-placeholder {
  color: black;
}

::-moz-placeholder {
  color: black;
}

:-ms-input-placeholder {
  color: black;
}

::-ms-input-placeholder {
  color: black;
}

::placeholder {
  color: black;
}

.section {
  padding: 50px 0;
}
.section-header {
  text-align: center;
  max-width: 950px;
  margin: 0 auto 80px;
}
.section__title {
  font-size: 44px;
  font-weight: bold;
  color: var(--title-color);
  margin-bottom: 40px;
}
.section__subtitle {
  font-size: 24px;
  color: var(--grey-color);
  line-height: 42px;
}

.header {
  background-color: var(--orange-color);
}
.header-body {
  padding: 20px 0;
}
.header .menu__link {
  color: white;
}
.header-menu {
  gap: 60px;
}
.header-buttons {
  gap: 50px;
}
.header .logo {
  width: 80%;
}

.features-grid {
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.features-item {
  text-align: center;
  -webkit-box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  padding: 80px 90px;
  position: relative;
}
.features-item .item__icon {
  position: absolute;
  top: -50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100px;
  height: 100px;
}
.features-item .item__title {
  font-size: 24px;
  margin-bottom: 22px;
}
.features-item .item__text {
  color: var(--grey-color);
  font-size: 16px;
  line-height: 24px;
}

.buy-body {
  position: relative;
}
.buy-grid {
  -ms-grid-columns: 1fr 70px 1fr 70px 1fr 70px 1fr 70px 1fr;
  grid-template-columns: repeat(5, 1fr);
  gap: 70px;
}
.buy-line {
  width: 80%;
  height: 5px;
  background-color: var(--orange-color);
  opacity: 0.5;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 16%;
  z-index: -1;
}
.buy-item .item__img {
  width: 90px;
  height: 90px;
  margin-bottom: 35px;
}
.buy-item .item__title {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}
.buy-item .item__text {
  text-align: center;
  color: var(--grey-color);
}

.feedback-body {
  -ms-grid-columns: 1fr 150px 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 150px;
}
.feedback-form {
  -ms-grid-columns: 1fr 25px 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}
.feedback-form .first-child {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
}
.feedback__img {
  width: 100%;
}
.feedback__title {
  margin-bottom: 10px;
}
.feedback__text {
  margin-bottom: 60px;
}

.footer {
  background-color: var(--orange-color);
  padding: 20px;
}
.footer-logo {
  width: 15%;
}
.footer-social {
  gap: 20px;
}
.footer-social .social-icon {
  width: 80%;
}

.auth-body {
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}
.auth-logo {
  width: 30%;
  position: absolute;
  top: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.auth-form {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 450px;
}
.auth-form__title {
  color: var(--orange-color);
  font-size: 44px;
  text-align: center;
}
.auth-form__subtext {
  font-size: 12px;
  line-height: 24px;
}
.auth-form .input {
  background-color: transparent;
  border-color: #949494;
}
.auth-form .input:not(:last-child) {
  margin-bottom: 25px;
}
.auth-form button {
  margin-bottom: 10px;
}
.auth-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  min-width: 500px;
}
.auth-text .text__title {
  font-size: 44px;
  margin-bottom: 16px;
}
.auth-text .text__subtitle {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 55px;
}
.auth__button {
  padding: 10px 110px;
}
.auth .side-orange {
  position: relative;
  color: white;
  background-color: var(--orange-color);
}
.auth .side-white {
  position: relative;
  background-color: white;
}

.collection-header {
  margin-bottom: 20px;
}
.collection-body {
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.collection-item .item-image-wrapper {
  background-color: #f3f3f3;
  min-height: 410px;
  position: relative;
  margin-bottom: 20px;
}
.collection-item .item__img {
  width: 75%;
  height: 65%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.collection-item .item__price {
  font-weight: 700;
  font-size: 14px;
  margin-top: 15px;
}